<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-fragment(title,path)">
    <meta charset="UTF-8">
    <title th:text="${title}">青软商城</title>
    <link rel="stylesheet" th:href="@{/mall/css/swiper.min.css}">
    <link rel="stylesheet" th:href="@{/mall/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{/mall/css/common.css}">
    <link rel="stylesheet" th:href="@{/mall/styles/header.css}">
    <link rel="stylesheet" th:href="@{'/mall/styles/'+${path}+'.css'}">
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert/sweetalert.css}"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
</head>

<header id="header" th:fragment="header-fragment">
    <div class="center">
        <ul class="fl">
            <li><a th:href="@{/index.html}">青软商城</a></li>
            <li><a arget="_blank">后台管理系统</a></li>
        </ul>
        <div class="fr">
            <th:block th:unless="${session.user==null}">
                <div class="user" id="user" th:name="${session.user.user_id}">
                    <ul class="selector">
                        <li>
                            <a th:href="@{/user/personal.html}">
                                个人中心
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/user/my-orders.html}">
                                我的订单
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/user/logout}">
                                退出登录
                            </a>
                        </li>
                    </ul>
                    <a href="##" class="username">
                        <th:block th:text="${session.user.nick_name}"></th:block>
                        <i class="iconfont icon-down"></i>
                    </a>
                </div>
                <div class="shopcart">
                    <a th:href="@{/cart.html}" style="color: white;"><i class="iconfont icon-cart"></i>
                        购物车(
                        <th:block th:text="${session.myShopping_count}"></th:block>
                        )
                    </a>
                </div>
            </th:block>
            <th:block th:if="${session.user==null}">
                <ul class="login">
                    <li><a th:href="@{/user/login.html}">登录</a></li>
                    <li><a th:href="@{/user/register.html}">注册</a></li>
                </ul>
                <div class="shopcart">
                    <a href="##" style="color: white;"><i class="iconfont icon-cart"></i>
                        购物车(0)</a>
                </div>
            </th:block>
        </div>
    </div>
</header>
<nav id="nav" th:fragment="nav-fragment">
    <div class="banner_x center">
        <a th:href="@{/index.html}" class="logo"><h1>青软商城</h1></a>
        <a th:href="@{/index.html}" class="gif"></a>
        <ul class="list">
            <li><a href="##">秒杀</a></li>
            <li><a href="##">优惠券</a></li>
        </ul>
        <div class="fr">
            <div class="search">
                <input class="text" type="text" id="keyword" autocomplete="off">
                <div class="search_hot"></div>
            </div>
            <div class="button iconfont icon-search" id="button_search"></div>
        </div>
    </div>
</nav>
</html>


<script>
    // location.reload();   //每次进入刷新当前页面
</script>