<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mall/header::head-fragment('青软商城-订单列表','my-orders')">
</head>
<link th:href="@{/mall/css/bootstrap-modal.css}" rel="stylesheet">
<body>
<header th:replace="mall/header::header-fragment"></header>
<!-- nav -->
<nav th:replace="mall/header::nav-fragment"></nav>

<!-- personal -->
<div id="personal">
    <div class="self-info center">

        <!-- sidebar -->
        <div th:replace="mall/personal-sidebar::sidebar-fragment"></div>

        <div class="intro fr">
            <div class="uc-box uc-main-box">
                <div class="uc-content-box order-list-box">
                    <div class="box-hd">
                        <h1 class="title">我的订单
                            <small>请谨防钓鱼链接或诈骗电话，<a href="##">了解更多&gt;</a>
                            </small>
                        </h1>
                    </div>
                    <div class="box-bd">
                        <div id="J_orderList">
                            <ul class="order-list">
                                <th:block th:unless="${#lists.isEmpty(orders)}">
                                    <input type="hidden" value="">
                                    <!-- todo 无订单时 换背景图为无订单 -->
                                    <th:block th:id="page_info" th:each="order : ${orders}">
                                        <li class="uc-order-item uc-order-item-list">
                                            <div class="order-detail">
                                                <div class="order-summary">
                                                    <th:block th:if="${order.order_status<0}">
                                                        <div class="order-status-closed" th:text="订单已关闭"></div>
                                                    </th:block>
                                                    <th:block th:if="${order.order_status==0}">
                                                        <div class="order-status-need-pay" th:text="订单待支付"></div>
                                                    </th:block>
                                                    <th:block th:if="${order.order_status>0}">
                                                        <th:block th:if="${order.order_status<4}">
                                                            <div class="order-status-success" th:text="订单已支付"></div>
                                                        </th:block>
                                                        <th:block th:if="${order.order_status==4}">
                                                            <div class="order-status-success" th:text="订单已完成"></div>
                                                        </th:block>
                                                    </th:block>
                                                </div>
                                                <table class="order-detail-table">
                                                    <thead>
                                                    <tr>
                                                        <th class="col-main">
                                                            <p class="caption-info">
                                                                <span class="sep"
                                                                      th:text="${'下单时间：'+order.create_time}">|下单时间： 2019-11-29 15:33:20</span>
                                                                <!--                                                                      th:text="${'下单时间：'+#dates.format(order.create_time, 'yyyy-MM-dd HH:mm:ss')}">|下单时间： 2019-11-29 15:33:20</span>-->
                                                                <span class="sep" th:text="${'订单号：'+order.order_no}">201908121807</span>
                                                                <th:block th:if="${order.pay_type==0}">
                                                                    <span class="sep">支付方式：无</span>
                                                                </th:block>
                                                                <th:block th:if="${order.pay_type==1}">
                                                                    <span class="sep">支付方式：支付宝支付</span>
                                                                </th:block>
                                                                <th:block th:if="${order.pay_type==0}">
                                                                    <span class="sep">支付方式：微信支付</span>
                                                                </th:block>
                                                            </p>
                                                        </th>
                                                        <th class="col-sub">
                                                            <p class="caption-price">订单金额：
                                                                <span class="num" th:text="${order.total_price+'.00'}">1299.00</span>元
                                                            </p>
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td class="order-items">
                                                            <ul class="goods-list">
                                                                <th:block th:each="item : ${order.orderItems}">
                                                                    <li>
                                                                        <div class="figure figure-thumb">
                                                                            <a target="_blank"
                                                                               th:href="@{'/goods/detail?goods_id='+${item.goods_id}}">
                                                                                <!--                                                                        <a target="_blank" th:href="@{'/goods/detail/'+${item.goodsId}}">-->
                                                                                <img th:src="@{${item.goods_cover_img}}"
                                                                                     width="80" height="80" alt="">
                                                                            </a>
                                                                        </div>
                                                                        <p class="name"><a target="_blank"
                                                                                           th:href="@{'/goods/detail?goods_id='+${item.goods_id}}"
                                                                                           th:text="${item.goods_name}">wxd</a>
                                                                        </p>
                                                                        <p class="price"
                                                                           th:text="${item.selling_price+'元 x '+item.goods_count}">
                                                                            13元 × 1</p>
                                                                    </li>
                                                                </th:block>
                                                            </ul>
                                                        </td>
                                                        <td class="order-actions"><a class="btn btn-small btn-line-gray"
                                                                                     th:href="@{${'/order-detail.html?order_no='+order.order_no}}">订单详情</a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </li>
                                    </th:block>
                                </th:block>
                            </ul>
                        </div>

                        <input id="myOrders" type="hidden" th:value="${myOrders_count}">
                        <div id="page" style="text-align: center"></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div th:replace="mall/footer::footer-fragment"></div>

</body>

<script th:src="@{/admin/plugins/jquery/jquery.js}"></script>
<script th:src="@{/mall/js/search.js}" type="text/javascript"></script>

<script th:src="@{/layui/layui.js}" type="text/javascript"></script>
<script>
    layui.use('laypage', function () {
        var laypage = layui.laypage;
        laypage.render({
            elem: 'page'
            , count: $("#myOrders").val()//数据总数，从服务端得到
            , limit: 3
            , curr: location.hash.replace('#!fenye=', '') //获取起始页
            , hash: 'fenye' //自定义hash值
            , jump: function (obj, first) {
                //obj包含了当前分页的所有参数，比如：
                // console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                // console.log(obj.limit); //得到每页显示的条数

                //首次不执行
                if (!first) {
                    //do something
                    location.href = "/user/my-orders.html?pageNum=" + obj.curr + "&pageSize=" + obj.limit + "#!fenye=" + obj.curr;
                }
            }
        });
    });
</script>


</html>